*{
	margin: 0;
	padding: 0;
}	
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #666;
}
#top, #header,#search, #nav, #banner,#star, #route,#ad,#after_sale,#footer{
height: 150px;
width: 100%;
/* border: 1px solid #000; */
}
.left{
    float: left;
}
.right{
    float: right;
}
.container{
    width: 1280px;
    margin: 0px auto ;
}
html,body{
    scroll-behavior: smooth;
}    
body{
    background-color: rgb(242,242,242);;
}
#top{
    height: 5px;
    background-color: rgb(246, 184, 30);
}
#header{
    height: 25px;
    background-color: #2d2d2d;
    color: #666 ;
    box-shadow: 0 0 5px #b3b3b3;
}
#header ul li{
    float: left;
} 
#header li a{
    color: #b2b2b2;
    border-right: 1px solid #b2b2b2;
    padding: 0px 15px ;
    font-size: 12px;
    line-height: 25px;
}
#header li a:hover{
    color: #fff;
}
#header .earth img{
    margin-top: 5px;
    height: 14px;
}
#header .flag img{
    height: 15px;
    margin-top: 5px;
}

#header .no_right_border a{
    border: none;
}
#header .no_right_border span{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url("img/购物车.png") ;
}
#nav{
    height: 62px;
    background-color: rgb(196, 196, 196);
    z-index: 999;
    /* 级别 */
}
#nav .logo img{
    margin-top: 10px;
    height: 40px;
}
#nav li{
    float: left;
    line-height: 59px; 
    /* 列表行高 */
    margin: 0px 20px;
}
#nav li:hover{
    border-bottom: 4px solid rgb(219, 158, 2);
}
#nav li a{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}
#nav li a:hover{
    color: rgb(219, 158, 2);
}
#nav .searchlogo img{
    margin-top: 20px;
}
#nav .oneworld img{    
    margin-top: 13px;
    height: 35px;
    border-left: 1px solid rgb(146, 146, 146);
    padding-left: 20px;
    margin-left: -20px;
}
p.title{
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
 p.fill{
    font-size: 15px;
    text-align:center;
    color: #666;    
 }
#banner {
     height: 450px;
     z-index: 1;
 }
#banner img{
    width: 100%;
 }
#banner .pic{
    padding-top: 200px;
}
.fit{
    object-fit: cover;
}



#search{
    height: 220px;
    z-index: 998;
    position: relative;
}
#search .searchbox{
    height: 180px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 0 5px #b3b3b3;
    background-color: white;
}
#search .searchboxleft{
    width: 80%;
    float: left;
}
#search .sologn{
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 30px;
}
#search .info{
    padding: 10px;
    height: 70px;
    margin-left: 30px;
}
#search .info div{
    margin-right: 30px;
}
#search label{
    line-height: 2;
    font-family: "微软雅黑";
}
#search .form{
    color: #495057;
    line-height: 1.5;
    width: 100%;
    height: calc(2rem + 1px);
    border: 1px solid #ced4da;
}
#search button{
    margin-left: 40px;
    padding: .375rem ;
}
#search-box-submit-btn{
    background-color: #ffc107;
    border: 1px solid #ffc107;
    width: 60px;
    height: 30px;
}
#search .searchboxright{
    float: right;
}
#search .manage{
    margin-right: 60px;
    margin-top: 30px;
}
#search li{
    border: 1px solid #ffc107;
    text-align: center;
    width: 140px;
    height: 30px;
    line-height: 30px;
}





#star{
    height: 750px;
}
#star .star_top{
    width: 400px;
    margin: 20px auto ;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}
#star div h2{
    margin-top: 0px;
    margin-right: 40px;
    float: left;
}
#star ul li{
    height: 120px;
    width: 550px;
    line-height: 120px;
    list-style:none;
}

#star img{
    width: 60%;
    float: right;
    transition: all .3s;
    vertical-align:middle;
}
#star img:hover{
    transform: scale(1.2);
}


#service{
    height: 400px;
}
#service .service_top{
    width: 400px;
    margin: 20px auto ;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}
#service .servicebox{
    padding-left: 85px;
}
#service .servicebox div{
    width: 180px;
    height: 250px;
    border: 1px solid #000;
    float: left;
    margin-right: 50px;
    text-align: center;
    transition: all .3s ;
}
#service .servicebox div:hover{
    transform: translateY(-10px);
    border-bottom: 1px solid rgb(231, 1, 1);
}



#route{
    height: 500px;
}
#route .route_top{
    width: 400px;
    margin: 20px auto ;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}
#route li{
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑";
    line-height: 70px;
    width: 500px;
    text-align: center;
}


#ad{
    height: 100px;
    background-color: rgb(202, 202, 202);
}
#ad dl{
    width: 200px;
    height: 100px;
    position: relative;
}
#ad dl img{
    position: absolute;
    top: 30px;
    left: 10px;
}
#ad dl .dd1{
    position: absolute;
    top: 30px;
    left: 60px;
    font-weight: bold;
}
#ad dl .dd2{
    position: absolute;
    top: 50px;
    left: 60px;
    color: #666;
    font-size: 12px;
    line-height: 24px;
}
#ad li{
    margin: 10px;
    float: left;
    transition: all .3s;
}
#ad li:hover{
     transform: translateY(-10px);
}
#ad ul{
    width: 1110px;
    margin: 0px auto ;
    height: 100px;
}

#after_sale{
	height: 200px;
	background-color: #fff;
}
#after_sale ul{
	width: 1110px;
	margin: 0px auto;
	padding-top: 20px;
}
#after_sale ul li{
	width: 140px;
	float: left;
	text-align: center;
	margin: 0px 20px;
}
#after_sale ol>li{
	line-height: 30px;
}
#after_sale ol>li:first-child a{
	font-weight: bold;
}
#after_sale .xl{
	width: 20px;
	height: 17px;
	background: url("../img/icons.png") no-repeat -47px -95px;
	display: inline-block;
	vertical-align: middle;
}

#footer{
    height: 30px;
    background-color: #2d2d2d;
}
#footer img{
    height: 13px;
    margin-top:6.5px;
}
#footer li{
    float: left;
    color: #b2b2b2;
    font-size: 12px;
    line-height: 30px;
}
#footer li a{
    color: #b2b2b2;
    font-size: 12px;
}
#footer li a:hover{
    color: #fff;
}
#footer .necko li{
    margin-right: 20px;
}
#footer .right a{
    margin-left: 15px; 
}

#totop{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 0px;
	bottom: 50px;
	z-index: 100;

}
#totop #btn{
	display: block;
	width: 40px;
	height: 40px;
	background: url("/img/置顶.png") no-repeat 0px 0px;
}

.fix{
    position:fixed;
    left:0;
    top:0;
    width:100%;
}
